@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div>
	<a id="LiveChat" href="#" onclick="setTimeout(function () { alert('Live chat is currently not available.'); }, 1000)">Start Live Chat now</a>
</div>
<div>
	<a id="LearnAboutUs" href="#" onclick="if (window.confirm('Do you want to learn more about us?')) { window.open('About')}">Learn about us</a>
</div>