@model IEnumerable<Pizza_AspNetMvc5.Data.Pizzeria>

@{
	ViewBag.Title = "Home";
}

<div class="jumbotron jumbotron-fluid" style="background: url(Content/Images/bg.jpg) no-repeat center center fixed; background-size: cover;">
	<div class="container mx-auto bg-success" style="width: 800px;">
		<h2 class="display-4">Best Pizza</h2>
		<p class="lead">
			Southern smash green tea lime chai tea banana seitan chili pepper walnut mushroom tart pao pepper vine tomatoes
			tempeh blueberry chia seed jam crumbled salty cozy.
		</p>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<a href="@Url.Action("Index", "Pizzerias")">
			<img src='@Url.Content("~/Content/Images/deal.png")' class="img-fluid img-thumbnail" />
		</a>
	</div>
</div>
<div class="col-md-12">
	<div class="category-list-card">
		<div class="category-name">
			<h3>
				There are @Model.Count() pizzas. See
				<button type="button" name="SeeAllPizzerias" class="btn btn-outline-info">@Html.ActionLink("All", "Index", "Pizzerias")</button>
			</h3>
		</div>
		<div class="right-arrow-div">
			<i class="fa fa-angle-right"></i>
		</div>
	</div>
</div>